{% extends 'base.html' %}
{% block title %}Los creadores de este blog!!!!{% endblock %}
{% block content %}

<style>

h1 {color:rgba(0, 18, 77, 0.815);}


</style>

<h1>Nos presentamos!!!!</h1>
<br>
<p><u><b>Camila Miller</b></u>: Soy ingeniera quimica recibida en la UTN-FRBA. Actualmente trabajo como RPA Developer en ExxonMobil. Me inscribi a este curso de Python para poder incorporar conocimientos en este lenguaje tan utilizado para diferentes propositos.<br>Mi pasion son las mascotas y los viajes. Actualmente vivo con mis dos perros en Belgrano.</p>

<hr>
<p><u><b>Fernando Kishimoto</b></u>: soy ingeniero quimico recibido en la UTN-FRBA. Actualmente me encuentro trabajando en Baker Hughes en la posición de Pipeline Data Analyst. Tengo como objetivo adquirir más conocimientos de programación y poder desenvolverme en tal ámbito.<br>En mis tiempos libres toco la guitarra electrica. Algunos de mis artistas favoritos son: Richie Kotzen, Stevie Ray Vaughan, John Coltrane, Eric Johnson...</p>

{% endblock %}