{% extends 'base.html' %}
{% block title %}Crear un nuevo Post{% endblock %}
{% block content %}


{% if user.is_authenticated %}
 <h1>Agrega un Post</h1>


 <br/>
 <div class="form-group">
     <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.media }}
       {{ form.as_p }}<!-- as_p es como si cada recuadro esta en un parrafo diferente-->
       <button  class="btn btn-info">Postear</button>
     </form>
     
{% else %}      
No tenes permiso para editar, registrate o logueate!
<!--Esto sirve por si alguien copia el url y no esta logueado, le salta este cartel. Sino podria editar estando deslogueado-->
{% endif %}    
</div>




{% endblock %}